.stars__container{
	height: 0px;
}
.stars__container{
	width: 100vw;
}
#stars {
	width: 1px;
	height: 1px;
	background: transparent;
	box-shadow: 1487px 822px #28AA47, 702px 619px #28AA47, 579px 76px #28AA47,
		881px 14px #28AA47, 1903px 741px #28AA47, 1401px 1791px #28AA47, 1316px 857px #28AA47,
		1628px 1376px #28AA47, 1641px 781px #28AA47, 1421px 25px #28AA47, 525px 254px #28AA47,
		683px 1197px #28AA47, 1636px 1573px #28AA47, 1855px 1220px #28AA47, 108px 1424px #28AA47,
		906px 1967px #28AA47, 205px 1681px #28AA47, 1930px 731px #28AA47, 1957px 104px #28AA47,
		1558px 24px #28AA47, 211px 468px #28AA47, 2px 1001px #28AA47, 664px 1095px #28AA47,
		1023px 1573px #28AA47, 272px 122px #28AA47, 659px 1641px #28AA47, 1518px 1633px #28AA47,
		1736px 1016px #28AA47, 1085px 1911px #28AA47, 737px 1784px #28AA47, 564px 968px #28AA47,
		150px 1277px #28AA47, 1848px 505px #28AA47, 1067px 1414px #28AA47, 1619px 1498px #28AA47,
		266px 757px #28AA47, 450px 1052px #28AA47, 604px 1178px #28AA47, 1069px 1215px #28AA47,
		1045px 1816px #28AA47, 1682px 1111px #28AA47, 578px 1875px #28AA47, 1197px 20px #28AA47,
		736px 1923px #28AA47, 1698px 592px #28AA47, 491px 1835px #28AA47, 106px 1113px #28AA47,
		1944px 1749px #28AA47, 677px 525px #28AA47, 798px 1663px #28AA47, 463px 19px #28AA47,
		1982px 1091px #28AA47, 736px 1597px #28AA47, 244px 1625px #28AA47, 1699px 1257px #28AA47,
		624px 114px #28AA47, 1290px 48px #28AA47, 1007px 1111px #28AA47, 1411px 31px #28AA47,
		1661px 1065px #28AA47, 1583px 1593px #28AA47, 1165px 1985px #28AA47, 351px 222px #28AA47,
		158px 709px #28AA47, 1304px 194px #28AA47, 1192px 1923px #28AA47, 358px 1642px #28AA47,
		889px 1701px #28AA47, 424px 1427px #28AA47, 1928px 573px #28AA47, 1263px 1473px #28AA47,
		498px 33px #28AA47, 1043px 286px #28AA47, 843px 1917px #28AA47, 909px 813px #28AA47,
		1033px 291px #28AA47, 41px 749px #28AA47, 1807px 1719px #28AA47, 1984px 284px #28AA47,
		1983px 1696px #28AA47, 1409px 179px #28AA47, 1350px 929px #28AA47, 332px 1747px #28AA47,
		212px 1977px #28AA47, 1668px 1254px #28AA47, 1585px 1736px #28AA47, 783px 85px #28AA47,
		1961px 847px #28AA47, 1692px 996px #28AA47, 1829px 694px #28AA47, 965px 891px #28AA47,
		1793px 102px #28AA47, 1347px 235px #28AA47, 1566px 1954px #28AA47, 1406px 1765px #28AA47,
		1346px 1832px #28AA47, 452px 1205px #28AA47, 1667px 1688px #28AA47, 1337px 1664px #28AA47,
		1728px 832px #28AA47, 1568px 1213px #28AA47, 1980px 357px #28AA47, 1096px 624px #28AA47,
		210px 636px #28AA47, 1247px 1830px #28AA47, 1789px 1970px #28AA47, 582px 978px #28AA47,
		1473px 1002px #28AA47, 1042px 440px #28AA47, 1189px 879px #28AA47, 24px 931px #28AA47,
		1656px 1848px #28AA47, 401px 1676px #28AA47, 192px 1632px #28AA47, 970px 1936px #28AA47,
		231px 1849px #28AA47, 1860px 127px #28AA47, 469px 1487px #28AA47, 436px 1899px #28AA47,
		680px 1290px #28AA47, 809px 128px #28AA47, 163px 683px #28AA47, 1221px 1732px #28AA47,
		982px 801px #28AA47, 149px 455px #28AA47, 39px 1305px #28AA47, 248px 1059px #28AA47,
		1985px 1040px #28AA47, 823px 1174px #28AA47, 1823px 12px #28AA47, 1558px 1446px #28AA47,
		164px 348px #28AA47, 504px 311px #28AA47, 95px 1735px #28AA47, 1817px 560px #28AA47,
		1527px 1792px #28AA47, 296px 377px #28AA47, 1480px 353px #28AA47, 1419px 1148px #28AA47,
		734px 610px #28AA47, 1233px 1076px #28AA47, 1495px 198px #28AA47, 1722px 1821px #28AA47,
		57px 914px #28AA47, 81px 1967px #28AA47, 157px 1383px #28AA47, 478px 1545px #28AA47,
		96px 1485px #28AA47, 1248px 1516px #28AA47, 1989px 1475px #28AA47, 730px 61px #28AA47,
		646px 342px #28AA47, 656px 376px #28AA47, 809px 1394px #28AA47, 483px 1916px #28AA47,
		695px 1985px #28AA47, 954px 279px #28AA47, 1704px 234px #28AA47, 204px 1621px #28AA47,
		490px 414px #28AA47, 929px 1852px #28AA47, 383px 1017px #28AA47, 1319px 14px #28AA47,
		103px 1147px #28AA47, 1780px 62px #28AA47, 764px 318px #28AA47, 950px 1468px #28AA47,
		767px 8px #28AA47, 1038px 763px #28AA47, 62px 680px #28AA47, 1619px 817px #28AA47,
		1462px 1819px #28AA47, 1340px 1956px #28AA47, 1802px 902px #28AA47, 1739px 1865px #28AA47,
		886px 854px #28AA47, 1760px 1693px #28AA47, 1571px 1175px #28AA47, 1149px 1748px #28AA47,
		1521px 1213px #28AA47, 575px 162px #28AA47, 1904px 456px #28AA47, 1399px 416px #28AA47,
		1325px 1118px #28AA47, 1848px 478px #28AA47, 1447px 841px #28AA47, 457px 1619px #28AA47,
		1202px 1049px #28AA47, 397px 682px #28AA47, 465px 1042px #28AA47, 1264px 1033px #28AA47,
		1304px 1004px #28AA47, 649px 1586px #28AA47, 97px 1308px #28AA47, 21px 619px #28AA47,
		469px 1742px #28AA47, 81px 1745px #28AA47, 1735px 1208px #28AA47, 805px 1206px #28AA47,
		717px 492px #28AA47, 187px 1317px #28AA47, 860px 1290px #28AA47, 1964px 1712px #28AA47,
		1036px 142px #28AA47, 1238px 442px #28AA47, 1766px 423px #28AA47, 925px 353px #28AA47,
		569px 5px #28AA47, 1338px 383px #28AA47, 1321px 90px #28AA47, 1613px 749px #28AA47,
		409px 1835px #28AA47, 642px 715px #28AA47, 1402px 444px #28AA47, 1669px 197px #28AA47,
		291px 1022px #28AA47, 632px 1847px #28AA47, 678px 810px #28AA47, 570px 798px #28AA47,
		1521px 681px #28AA47, 309px 176px #28AA47, 1913px 882px #28AA47, 1129px 1601px #28AA47,
		1310px 1490px #28AA47, 883px 1925px #28AA47, 1354px 140px #28AA47, 1474px 628px #28AA47,
		1997px 230px #28AA47, 351px 1212px #28AA47, 576px 706px #28AA47, 1210px 1325px #28AA47,
		1927px 315px #28AA47, 1505px 1249px #28AA47, 699px 1811px #28AA47, 1428px 913px #28AA47,
		691px 1811px #28AA47, 977px 1645px #28AA47, 330px 260px #28AA47, 1632px 1148px #28AA47,
		878px 1070px #28AA47, 390px 1127px #28AA47, 1915px 1956px #28AA47, 805px 314px #28AA47,
		260px 623px #28AA47, 1471px 1629px #28AA47, 1333px 1800px #28AA47, 1158px 1712px #28AA47,
		813px 641px #28AA47, 608px 761px #28AA47, 529px 1163px #28AA47, 1916px 1476px #28AA47,
		308px 1823px #28AA47, 910px 894px #28AA47, 839px 431px #28AA47, 1638px 1599px #28AA47,
		128px 1590px #28AA47, 1157px 1788px #28AA47, 1035px 773px #28AA47, 389px 277px #28AA47,
		553px 1014px #28AA47, 1978px 668px #28AA47, 615px 1056px #28AA47, 944px 1726px #28AA47,
		974px 324px #28AA47, 1448px 349px #28AA47, 848px 405px #28AA47, 1757px 1457px #28AA47,
		468px 1754px #28AA47, 714px 414px #28AA47, 697px 592px #28AA47, 1434px 1246px #28AA47,
		258px 1687px #28AA47, 953px 1354px #28AA47, 922px 179px #28AA47, 1899px 662px #28AA47,
		1103px 448px #28AA47, 1205px 799px #28AA47, 1256px 1247px #28AA47, 1772px 194px #28AA47,
		1809px 1285px #28AA47, 518px 698px #28AA47, 1906px 332px #28AA47, 1182px 536px #28AA47,
		1758px 354px #28AA47, 131px 1042px #28AA47, 923px 1832px #28AA47, 1117px 1198px #28AA47,
		143px 1532px #28AA47, 1401px 395px #28AA47, 1359px 1550px #28AA47, 615px 206px #28AA47,
		694px 475px #28AA47, 530px 1675px #28AA47, 1413px 1544px #28AA47, 1330px 1429px #28AA47,
		1433px 1453px #28AA47, 1271px 846px #28AA47, 1369px 1790px #28AA47, 517px 1392px #28AA47,
		897px 1434px #28AA47, 1906px 1012px #28AA47, 1523px 1474px #28AA47, 666px 7px #28AA47,
		598px 1273px #28AA47, 1544px 541px #28AA47, 248px 268px #28AA47, 1992px 848px #28AA47,
		571px 870px #28AA47, 1228px 679px #28AA47, 1096px 187px #28AA47, 1553px 15px #28AA47,
		523px 779px #28AA47, 140px 231px #28AA47, 659px 577px #28AA47, 463px 727px #28AA47,
		986px 623px #28AA47, 1822px 1062px #28AA47, 596px 1460px #28AA47, 462px 115px #28AA47,
		1318px 516px #28AA47, 409px 729px #28AA47, 710px 976px #28AA47, 1163px 1539px #28AA47,
		1542px 1362px #28AA47, 394px 1840px #28AA47, 904px 1541px #28AA47, 1549px 538px #28AA47,
		1594px 1384px #28AA47, 1030px 1465px #28AA47, 599px 544px #28AA47, 1933px 241px #28AA47,
		1281px 287px #28AA47, 729px 1282px #28AA47, 819px 364px #28AA47, 797px 1590px #28AA47,
		1023px 1973px #28AA47, 1708px 961px #28AA47, 293px 1953px #28AA47, 1685px 1879px #28AA47,
		1285px 1995px #28AA47, 1380px 219px #28AA47, 1715px 1980px #28AA47, 218px 108px #28AA47,
		700px 711px #28AA47, 471px 1764px #28AA47, 10px 1084px #28AA47, 1841px 1778px #28AA47,
		1765px 1548px #28AA47, 712px 1703px #28AA47, 1866px 1805px #28AA47, 1896px 760px #28AA47,
		1391px 40px #28AA47, 761px 1516px #28AA47, 1329px 584px #28AA47, 385px 1141px #28AA47,
		1238px 21px #28AA47, 1070px 486px #28AA47, 1096px 312px #28AA47, 1254px 1674px #28AA47,
		549px 1349px #28AA47, 1618px 986px #28AA47, 707px 1741px #28AA47, 1718px 1514px #28AA47,
		481px 597px #28AA47, 1690px 1472px #28AA47, 1728px 919px #28AA47, 173px 1196px #28AA47,
		1778px 1257px #28AA47, 1207px 649px #28AA47, 447px 634px #28AA47, 1306px 1444px #28AA47,
		936px 1818px #28AA47, 855px 1015px #28AA47, 1421px 332px #28AA47, 1138px 1889px #28AA47,
		1974px 694px #28AA47, 715px 308px #28AA47, 757px 155px #28AA47, 18px 107px #28AA47,
		561px 378px #28AA47, 144px 798px #28AA47, 1184px 967px #28AA47, 1263px 1130px #28AA47,
		1382px 895px #28AA47, 149px 175px #28AA47, 1297px 839px #28AA47, 943px 454px #28AA47,
		178px 1165px #28AA47, 477px 407px #28AA47, 416px 219px #28AA47, 1056px 1491px #28AA47,
		625px 816px #28AA47, 100px 1537px #28AA47, 1074px 520px #28AA47, 1031px 1453px #28AA47,
		1377px 614px #28AA47, 572px 1314px #28AA47, 1513px 1235px #28AA47, 1920px 1211px #28AA47,
		330px 107px #28AA47, 1260px 772px #28AA47, 1198px 84px #28AA47, 1409px 139px #28AA47,
		758px 98px #28AA47, 698px 1771px #28AA47, 273px 275px #28AA47, 163px 200px #28AA47,
		1665px 732px #28AA47, 95px 600px #28AA47, 522px 122px #28AA47, 76px 804px #28AA47,
		1669px 1526px #28AA47, 1881px 465px #28AA47, 1043px 1919px #28AA47, 1521px 827px #28AA47,
		1197px 1997px #28AA47, 489px 593px #28AA47, 1899px 722px #28AA47, 1575px 332px #28AA47,
		327px 718px #28AA47, 1959px 1378px #28AA47, 455px 1333px #28AA47, 729px 822px #28AA47,
		748px 126px #28AA47, 444px 445px #28AA47, 1856px 262px #28AA47, 1140px 921px #28AA47,
		1680px 1227px #28AA47, 1144px 1742px #28AA47, 1922px 384px #28AA47, 1015px 496px #28AA47,
		1213px 831px #28AA47, 1793px 898px #28AA47, 35px 159px #28AA47, 571px 1505px #28AA47,
		726px 42px #28AA47, 1216px 1214px #28AA47, 938px 50px #28AA47, 322px 1017px #28AA47,
		1222px 523px #28AA47, 660px 1174px #28AA47, 355px 859px #28AA47, 1381px 1648px #28AA47,
		8px 1546px #28AA47, 1768px 17px #28AA47, 301px 1159px #28AA47, 1550px 185px #28AA47,
		1289px 656px #28AA47, 1187px 106px #28AA47, 669px 1498px #28AA47, 555px 323px #28AA47,
		454px 288px #28AA47, 72px 271px #28AA47, 445px 1713px #28AA47, 136px 10px #28AA47,
		1810px 1149px #28AA47, 1445px 794px #28AA47, 406px 1822px #28AA47, 1994px 741px #28AA47,
		1837px 1564px #28AA47, 1264px 80px #28AA47, 273px 845px #28AA47, 322px 1693px #28AA47,
		103px 463px #28AA47, 689px 1161px #28AA47, 353px 717px #28AA47, 1275px 1895px #28AA47,
		1331px 130px #28AA47, 1251px 1424px #28AA47, 1003px 1183px #28AA47, 721px 904px #28AA47,
		1261px 416px #28AA47, 600px 577px #28AA47, 384px 910px #28AA47, 1248px 1547px #28AA47,
		955px 734px #28AA47, 686px 891px #28AA47, 196px 1523px #28AA47, 831px 327px #28AA47,
		845px 1486px #28AA47, 1553px 1438px #28AA47, 1133px 1152px #28AA47, 356px 1087px #28AA47,
		1503px 807px #28AA47, 1098px 1396px #28AA47, 94px 1934px #28AA47, 1195px 58px #28AA47,
		748px 771px #28AA47, 940px 570px #28AA47, 574px 651px #28AA47, 835px 533px #28AA47,
		42px 1210px #28AA47, 496px 1791px #28AA47, 1610px 296px #28AA47, 1446px 1574px #28AA47,
		261px 1765px #28AA47, 818px 368px #28AA47, 573px 743px #28AA47, 545px 333px #28AA47,
		1500px 1567px #28AA47, 1789px 448px #28AA47, 1139px 1559px #28AA47, 1607px 1127px #28AA47,
		1980px 874px #28AA47, 731px 1559px #28AA47, 898px 158px #28AA47, 1641px 1053px #28AA47,
		53px 377px #28AA47, 1879px 1370px #28AA47, 1377px 899px #28AA47, 1416px 829px #28AA47,
		863px 1545px #28AA47, 1219px 1935px #28AA47, 1638px 320px #28AA47, 239px 1807px #28AA47,
		851px 464px #28AA47, 1868px 1843px #28AA47, 679px 203px #28AA47, 1762px 842px #28AA47,
		59px 1986px #28AA47, 1142px 1911px #28AA47, 838px 1030px #28AA47, 1370px 1269px #28AA47,
		781px 274px #28AA47, 1193px 551px #28AA47, 638px 478px #28AA47, 456px 1854px #28AA47,
		424px 690px #28AA47, 13px 600px #28AA47, 306px 1867px #28AA47, 384px 1298px #28AA47,
		762px 342px #28AA47, 1780px 1196px #28AA47, 108px 1138px #28AA47, 1671px 866px #28AA47,
		831px 1515px #28AA47, 218px 1455px #28AA47, 1315px 1494px #28AA47, 1365px 1181px #28AA47,
		168px 986px #28AA47, 349px 506px #28AA47, 974px 1437px #28AA47, 1605px 908px #28AA47,
		1036px 1208px #28AA47, 1082px 1407px #28AA47, 916px 827px #28AA47, 1526px 566px #28AA47,
		1159px 1877px #28AA47, 210px 1180px #28AA47, 979px 1815px #28AA47, 130px 1358px #28AA47,
		1961px 1963px #28AA47, 771px 591px #28AA47, 1905px 487px #28AA47, 1816px 1565px #28AA47,
		333px 1600px #28AA47, 1842px 1774px #28AA47, 1573px 135px #28AA47, 1385px 1889px #28AA47,
		1611px 1033px #28AA47, 367px 1236px #28AA47, 779px 1022px #28AA47, 1851px 62px #28AA47,
		478px 257px #28AA47, 1907px 1960px #28AA47, 1435px 532px #28AA47, 662px 8px #28AA47,
		1027px 1924px #28AA47, 489px 101px #28AA47, 76px 1875px #28AA47, 657px 1682px #28AA47,
		1993px 1955px #28AA47, 1432px 1845px #28AA47, 1530px 1729px #28AA47, 1211px 896px #28AA47,
		1525px 133px #28AA47, 1445px 803px #28AA47, 530px 62px #28AA47, 242px 1513px #28AA47,
		256px 933px #28AA47, 1701px 936px #28AA47, 756px 1893px #28AA47, 1251px 1298px #28AA47,
		380px 1399px #28AA47, 1455px 302px #28AA47, 1729px 1171px #28AA47, 585px 49px #28AA47,
		1961px 1124px #28AA47, 1241px 552px #28AA47, 1205px 40px #28AA47, 1938px 1247px #28AA47,
		1469px 89px #28AA47, 239px 1939px #28AA47, 698px 448px #28AA47, 1795px 346px #28AA47,
		151px 487px #28AA47, 102px 126px #28AA47, 1184px 418px #28AA47, 1625px 1418px #28AA47,
		29px 554px #28AA47, 1288px 1274px #28AA47, 791px 1308px #28AA47, 151px 934px #28AA47,
		1574px 386px #28AA47, 1214px 1703px #28AA47, 1569px 1424px #28AA47, 951px 1830px #28AA47,
		1728px 805px #28AA47, 312px 1987px #28AA47, 1468px 529px #28AA47, 1153px 1146px #28AA47,
		1262px 1021px #28AA47, 1648px 1766px #28AA47, 306px 70px #28AA47, 754px 1165px #28AA47,
		1930px 482px #28AA47, 1814px 1593px #28AA47, 1066px 822px #28AA47, 1250px 877px #28AA47,
		465px 1885px #28AA47, 1649px 1281px #28AA47, 1682px 1601px #28AA47, 1367px 1233px #28AA47,
		91px 1327px #28AA47, 1485px 1355px #28AA47, 501px 1673px #28AA47, 1649px 1259px #28AA47,
		1986px 948px #28AA47, 1266px 1829px #28AA47, 135px 1503px #28AA47, 647px 296px #28AA47,
		155px 341px #28AA47, 649px 1896px #28AA47, 1617px 334px #28AA47, 223px 1507px #28AA47,
		584px 146px #28AA47, 200px 316px #28AA47, 575px 1831px #28AA47, 1374px 1809px #28AA47,
		1445px 386px #28AA47, 475px 1249px #28AA47, 1954px 89px #28AA47, 1756px 1192px #28AA47,
		8px 671px #28AA47, 1366px 1694px #28AA47, 1831px 306px #28AA47, 925px 113px #28AA47,
		160px 1174px #28AA47, 534px 1908px #28AA47, 553px 273px #28AA47, 423px 45px #28AA47,
		1305px 1098px #28AA47, 187px 90px #28AA47, 1993px 1396px #28AA47, 842px 1270px #28AA47,
		1137px 554px #28AA47, 351px 558px #28AA47, 1576px 1070px #28AA47, 437px 312px #28AA47,
		286px 1019px #28AA47, 257px 272px #28AA47, 1242px 1957px #28AA47, 1963px 1693px #28AA47,
		772px 447px #28AA47, 1641px 508px #28AA47, 712px 100px #28AA47, 1307px 1015px #28AA47,
		742px 327px #28AA47, 281px 1814px #28AA47, 1398px 1051px #28AA47, 167px 9px #28AA47,
		328px 1489px #28AA47, 1814px 1804px #28AA47, 946px 25px #28AA47, 549px 1705px #28AA47,
		217px 1477px #28AA47, 1937px 280px #28AA47, 182px 241px #28AA47, 711px 1365px #28AA47,
		1898px 1043px #28AA47, 1807px 346px #28AA47, 1787px 1253px #28AA47, 247px 66px #28AA47,
		1171px 1592px #28AA47, 846px 895px #28AA47, 1507px 720px #28AA47, 787px 574px #28AA47,
		1593px 1267px #28AA47, 843px 1902px #28AA47, 15px 1454px #28AA47, 539px 1420px #28AA47,
		1856px 974px #28AA47, 340px 663px #28AA47, 1579px 1091px #28AA47, 809px 111px #28AA47,
		32px 1128px #28AA47, 69px 1852px #28AA47, 878px 300px #28AA47, 730px 726px #28AA47,
		1137px 68px #28AA47;
	animation: animStar 50s linear infinite;
    
	&:after {
		content: " ";
		position: absolute;
		/* top: 2000px; */
		width: 1px;
		height: 1px;
		background: transparent;
		box-shadow: 1487px 822px #28AA47, 702px 619px #28AA47, 579px 76px #28AA47,
			881px 14px #28AA47, 1903px 741px #28AA47, 1401px 1791px #28AA47, 1316px 857px #28AA47,
			1628px 1376px #28AA47, 1641px 781px #28AA47, 1421px 25px #28AA47, 525px 254px #28AA47,
			683px 1197px #28AA47, 1636px 1573px #28AA47, 1855px 1220px #28AA47, 108px 1424px #28AA47,
			906px 1967px #28AA47, 205px 1681px #28AA47, 1930px 731px #28AA47, 1957px 104px #28AA47,
			1558px 24px #28AA47, 211px 468px #28AA47, 2px 1001px #28AA47, 664px 1095px #28AA47,
			1023px 1573px #28AA47, 272px 122px #28AA47, 659px 1641px #28AA47, 1518px 1633px #28AA47,
			1736px 1016px #28AA47, 1085px 1911px #28AA47, 737px 1784px #28AA47, 564px 968px #28AA47,
			150px 1277px #28AA47, 1848px 505px #28AA47, 1067px 1414px #28AA47, 1619px 1498px #28AA47,
			266px 757px #28AA47, 450px 1052px #28AA47, 604px 1178px #28AA47, 1069px 1215px #28AA47,
			1045px 1816px #28AA47, 1682px 1111px #28AA47, 578px 1875px #28AA47, 1197px 20px #28AA47,
			736px 1923px #28AA47, 1698px 592px #28AA47, 491px 1835px #28AA47, 106px 1113px #28AA47,
			1944px 1749px #28AA47, 677px 525px #28AA47, 798px 1663px #28AA47, 463px 19px #28AA47,
			1982px 1091px #28AA47, 736px 1597px #28AA47, 244px 1625px #28AA47, 1699px 1257px #28AA47,
			624px 114px #28AA47, 1290px 48px #28AA47, 1007px 1111px #28AA47, 1411px 31px #28AA47,
			1661px 1065px #28AA47, 1583px 1593px #28AA47, 1165px 1985px #28AA47, 351px 222px #28AA47,
			158px 709px #28AA47, 1304px 194px #28AA47, 1192px 1923px #28AA47, 358px 1642px #28AA47,
			889px 1701px #28AA47, 424px 1427px #28AA47, 1928px 573px #28AA47, 1263px 1473px #28AA47,
			498px 33px #28AA47, 1043px 286px #28AA47, 843px 1917px #28AA47, 909px 813px #28AA47,
			1033px 291px #28AA47, 41px 749px #28AA47, 1807px 1719px #28AA47, 1984px 284px #28AA47,
			1983px 1696px #28AA47, 1409px 179px #28AA47, 1350px 929px #28AA47, 332px 1747px #28AA47,
			212px 1977px #28AA47, 1668px 1254px #28AA47, 1585px 1736px #28AA47, 783px 85px #28AA47,
			1961px 847px #28AA47, 1692px 996px #28AA47, 1829px 694px #28AA47, 965px 891px #28AA47,
			1793px 102px #28AA47, 1347px 235px #28AA47, 1566px 1954px #28AA47, 1406px 1765px #28AA47,
			1346px 1832px #28AA47, 452px 1205px #28AA47, 1667px 1688px #28AA47, 1337px 1664px #28AA47,
			1728px 832px #28AA47, 1568px 1213px #28AA47, 1980px 357px #28AA47, 1096px 624px #28AA47,
			210px 636px #28AA47, 1247px 1830px #28AA47, 1789px 1970px #28AA47, 582px 978px #28AA47,
			1473px 1002px #28AA47, 1042px 440px #28AA47, 1189px 879px #28AA47, 24px 931px #28AA47,
			1656px 1848px #28AA47, 401px 1676px #28AA47, 192px 1632px #28AA47, 970px 1936px #28AA47,
			231px 1849px #28AA47, 1860px 127px #28AA47, 469px 1487px #28AA47, 436px 1899px #28AA47,
			680px 1290px #28AA47, 809px 128px #28AA47, 163px 683px #28AA47, 1221px 1732px #28AA47,
			982px 801px #28AA47, 149px 455px #28AA47, 39px 1305px #28AA47, 248px 1059px #28AA47,
			1985px 1040px #28AA47, 823px 1174px #28AA47, 1823px 12px #28AA47, 1558px 1446px #28AA47,
			164px 348px #28AA47, 504px 311px #28AA47, 95px 1735px #28AA47, 1817px 560px #28AA47,
			1527px 1792px #28AA47, 296px 377px #28AA47, 1480px 353px #28AA47, 1419px 1148px #28AA47,
			734px 610px #28AA47, 1233px 1076px #28AA47, 1495px 198px #28AA47, 1722px 1821px #28AA47,
			57px 914px #28AA47, 81px 1967px #28AA47, 157px 1383px #28AA47, 478px 1545px #28AA47,
			96px 1485px #28AA47, 1248px 1516px #28AA47, 1989px 1475px #28AA47, 730px 61px #28AA47,
			646px 342px #28AA47, 656px 376px #28AA47, 809px 1394px #28AA47, 483px 1916px #28AA47,
			695px 1985px #28AA47, 954px 279px #28AA47, 1704px 234px #28AA47, 204px 1621px #28AA47,
			490px 414px #28AA47, 929px 1852px #28AA47, 383px 1017px #28AA47, 1319px 14px #28AA47,
			103px 1147px #28AA47, 1780px 62px #28AA47, 764px 318px #28AA47, 950px 1468px #28AA47,
			767px 8px #28AA47, 1038px 763px #28AA47, 62px 680px #28AA47, 1619px 817px #28AA47,
			1462px 1819px #28AA47, 1340px 1956px #28AA47, 1802px 902px #28AA47, 1739px 1865px #28AA47,
			886px 854px #28AA47, 1760px 1693px #28AA47, 1571px 1175px #28AA47, 1149px 1748px #28AA47,
			1521px 1213px #28AA47, 575px 162px #28AA47, 1904px 456px #28AA47, 1399px 416px #28AA47,
			1325px 1118px #28AA47, 1848px 478px #28AA47, 1447px 841px #28AA47, 457px 1619px #28AA47,
			1202px 1049px #28AA47, 397px 682px #28AA47, 465px 1042px #28AA47, 1264px 1033px #28AA47,
			1304px 1004px #28AA47, 649px 1586px #28AA47, 97px 1308px #28AA47, 21px 619px #28AA47,
			469px 1742px #28AA47, 81px 1745px #28AA47, 1735px 1208px #28AA47, 805px 1206px #28AA47,
			717px 492px #28AA47, 187px 1317px #28AA47, 860px 1290px #28AA47, 1964px 1712px #28AA47,
			1036px 142px #28AA47, 1238px 442px #28AA47, 1766px 423px #28AA47, 925px 353px #28AA47,
			569px 5px #28AA47, 1338px 383px #28AA47, 1321px 90px #28AA47, 1613px 749px #28AA47,
			409px 1835px #28AA47, 642px 715px #28AA47, 1402px 444px #28AA47, 1669px 197px #28AA47,
			291px 1022px #28AA47, 632px 1847px #28AA47, 678px 810px #28AA47, 570px 798px #28AA47,
			1521px 681px #28AA47, 309px 176px #28AA47, 1913px 882px #28AA47, 1129px 1601px #28AA47,
			1310px 1490px #28AA47, 883px 1925px #28AA47, 1354px 140px #28AA47, 1474px 628px #28AA47,
			1997px 230px #28AA47, 351px 1212px #28AA47, 576px 706px #28AA47, 1210px 1325px #28AA47,
			1927px 315px #28AA47, 1505px 1249px #28AA47, 699px 1811px #28AA47, 1428px 913px #28AA47,
			691px 1811px #28AA47, 977px 1645px #28AA47, 330px 260px #28AA47, 1632px 1148px #28AA47,
			878px 1070px #28AA47, 390px 1127px #28AA47, 1915px 1956px #28AA47, 805px 314px #28AA47,
			260px 623px #28AA47, 1471px 1629px #28AA47, 1333px 1800px #28AA47, 1158px 1712px #28AA47,
			813px 641px #28AA47, 608px 761px #28AA47, 529px 1163px #28AA47, 1916px 1476px #28AA47,
			308px 1823px #28AA47, 910px 894px #28AA47, 839px 431px #28AA47, 1638px 1599px #28AA47,
			128px 1590px #28AA47, 1157px 1788px #28AA47, 1035px 773px #28AA47, 389px 277px #28AA47,
			553px 1014px #28AA47, 1978px 668px #28AA47, 615px 1056px #28AA47, 944px 1726px #28AA47,
			974px 324px #28AA47, 1448px 349px #28AA47, 848px 405px #28AA47, 1757px 1457px #28AA47,
			468px 1754px #28AA47, 714px 414px #28AA47, 697px 592px #28AA47, 1434px 1246px #28AA47,
			258px 1687px #28AA47, 953px 1354px #28AA47, 922px 179px #28AA47, 1899px 662px #28AA47,
			1103px 448px #28AA47, 1205px 799px #28AA47, 1256px 1247px #28AA47, 1772px 194px #28AA47,
			1809px 1285px #28AA47, 518px 698px #28AA47, 1906px 332px #28AA47, 1182px 536px #28AA47,
			1758px 354px #28AA47, 131px 1042px #28AA47, 923px 1832px #28AA47, 1117px 1198px #28AA47,
			143px 1532px #28AA47, 1401px 395px #28AA47, 1359px 1550px #28AA47, 615px 206px #28AA47,
			694px 475px #28AA47, 530px 1675px #28AA47, 1413px 1544px #28AA47, 1330px 1429px #28AA47,
			1433px 1453px #28AA47, 1271px 846px #28AA47, 1369px 1790px #28AA47, 517px 1392px #28AA47,
			897px 1434px #28AA47, 1906px 1012px #28AA47, 1523px 1474px #28AA47, 666px 7px #28AA47,
			598px 1273px #28AA47, 1544px 541px #28AA47, 248px 268px #28AA47, 1992px 848px #28AA47,
			571px 870px #28AA47, 1228px 679px #28AA47, 1096px 187px #28AA47, 1553px 15px #28AA47,
			523px 779px #28AA47, 140px 231px #28AA47, 659px 577px #28AA47, 463px 727px #28AA47,
			986px 623px #28AA47, 1822px 1062px #28AA47, 596px 1460px #28AA47, 462px 115px #28AA47,
			1318px 516px #28AA47, 409px 729px #28AA47, 710px 976px #28AA47, 1163px 1539px #28AA47,
			1542px 1362px #28AA47, 394px 1840px #28AA47, 904px 1541px #28AA47, 1549px 538px #28AA47,
			1594px 1384px #28AA47, 1030px 1465px #28AA47, 599px 544px #28AA47, 1933px 241px #28AA47,
			1281px 287px #28AA47, 729px 1282px #28AA47, 819px 364px #28AA47, 797px 1590px #28AA47,
			1023px 1973px #28AA47, 1708px 961px #28AA47, 293px 1953px #28AA47, 1685px 1879px #28AA47,
			1285px 1995px #28AA47, 1380px 219px #28AA47, 1715px 1980px #28AA47, 218px 108px #28AA47,
			700px 711px #28AA47, 471px 1764px #28AA47, 10px 1084px #28AA47, 1841px 1778px #28AA47,
			1765px 1548px #28AA47, 712px 1703px #28AA47, 1866px 1805px #28AA47, 1896px 760px #28AA47,
			1391px 40px #28AA47, 761px 1516px #28AA47, 1329px 584px #28AA47, 385px 1141px #28AA47,
			1238px 21px #28AA47, 1070px 486px #28AA47, 1096px 312px #28AA47, 1254px 1674px #28AA47,
			549px 1349px #28AA47, 1618px 986px #28AA47, 707px 1741px #28AA47, 1718px 1514px #28AA47,
			481px 597px #28AA47, 1690px 1472px #28AA47, 1728px 919px #28AA47, 173px 1196px #28AA47,
			1778px 1257px #28AA47, 1207px 649px #28AA47, 447px 634px #28AA47, 1306px 1444px #28AA47,
			936px 1818px #28AA47, 855px 1015px #28AA47, 1421px 332px #28AA47, 1138px 1889px #28AA47,
			1974px 694px #28AA47, 715px 308px #28AA47, 757px 155px #28AA47, 18px 107px #28AA47,
			561px 378px #28AA47, 144px 798px #28AA47, 1184px 967px #28AA47, 1263px 1130px #28AA47,
			1382px 895px #28AA47, 149px 175px #28AA47, 1297px 839px #28AA47, 943px 454px #28AA47,
			178px 1165px #28AA47, 477px 407px #28AA47, 416px 219px #28AA47, 1056px 1491px #28AA47,
			625px 816px #28AA47, 100px 1537px #28AA47, 1074px 520px #28AA47, 1031px 1453px #28AA47,
			1377px 614px #28AA47, 572px 1314px #28AA47, 1513px 1235px #28AA47, 1920px 1211px #28AA47,
			330px 107px #28AA47, 1260px 772px #28AA47, 1198px 84px #28AA47, 1409px 139px #28AA47,
			758px 98px #28AA47, 698px 1771px #28AA47, 273px 275px #28AA47, 163px 200px #28AA47,
			1665px 732px #28AA47, 95px 600px #28AA47, 522px 122px #28AA47, 76px 804px #28AA47,
			1669px 1526px #28AA47, 1881px 465px #28AA47, 1043px 1919px #28AA47, 1521px 827px #28AA47,
			1197px 1997px #28AA47, 489px 593px #28AA47, 1899px 722px #28AA47, 1575px 332px #28AA47,
			327px 718px #28AA47, 1959px 1378px #28AA47, 455px 1333px #28AA47, 729px 822px #28AA47,
			748px 126px #28AA47, 444px 445px #28AA47, 1856px 262px #28AA47, 1140px 921px #28AA47,
			1680px 1227px #28AA47, 1144px 1742px #28AA47, 1922px 384px #28AA47, 1015px 496px #28AA47,
			1213px 831px #28AA47, 1793px 898px #28AA47, 35px 159px #28AA47, 571px 1505px #28AA47,
			726px 42px #28AA47, 1216px 1214px #28AA47, 938px 50px #28AA47, 322px 1017px #28AA47,
			1222px 523px #28AA47, 660px 1174px #28AA47, 355px 859px #28AA47, 1381px 1648px #28AA47,
			8px 1546px #28AA47, 1768px 17px #28AA47, 301px 1159px #28AA47, 1550px 185px #28AA47,
			1289px 656px #28AA47, 1187px 106px #28AA47, 669px 1498px #28AA47, 555px 323px #28AA47,
			454px 288px #28AA47, 72px 271px #28AA47, 445px 1713px #28AA47, 136px 10px #28AA47,
			1810px 1149px #28AA47, 1445px 794px #28AA47, 406px 1822px #28AA47, 1994px 741px #28AA47,
			1837px 1564px #28AA47, 1264px 80px #28AA47, 273px 845px #28AA47, 322px 1693px #28AA47,
			103px 463px #28AA47, 689px 1161px #28AA47, 353px 717px #28AA47, 1275px 1895px #28AA47,
			1331px 130px #28AA47, 1251px 1424px #28AA47, 1003px 1183px #28AA47, 721px 904px #28AA47,
			1261px 416px #28AA47, 600px 577px #28AA47, 384px 910px #28AA47, 1248px 1547px #28AA47,
			955px 734px #28AA47, 686px 891px #28AA47, 196px 1523px #28AA47, 831px 327px #28AA47,
			845px 1486px #28AA47, 1553px 1438px #28AA47, 1133px 1152px #28AA47, 356px 1087px #28AA47,
			1503px 807px #28AA47, 1098px 1396px #28AA47, 94px 1934px #28AA47, 1195px 58px #28AA47,
			748px 771px #28AA47, 940px 570px #28AA47, 574px 651px #28AA47, 835px 533px #28AA47,
			42px 1210px #28AA47, 496px 1791px #28AA47, 1610px 296px #28AA47, 1446px 1574px #28AA47,
			261px 1765px #28AA47, 818px 368px #28AA47, 573px 743px #28AA47, 545px 333px #28AA47,
			1500px 1567px #28AA47, 1789px 448px #28AA47, 1139px 1559px #28AA47, 1607px 1127px #28AA47,
			1980px 874px #28AA47, 731px 1559px #28AA47, 898px 158px #28AA47, 1641px 1053px #28AA47,
			53px 377px #28AA47, 1879px 1370px #28AA47, 1377px 899px #28AA47, 1416px 829px #28AA47,
			863px 1545px #28AA47, 1219px 1935px #28AA47, 1638px 320px #28AA47, 239px 1807px #28AA47,
			851px 464px #28AA47, 1868px 1843px #28AA47, 679px 203px #28AA47, 1762px 842px #28AA47,
			59px 1986px #28AA47, 1142px 1911px #28AA47, 838px 1030px #28AA47, 1370px 1269px #28AA47,
			781px 274px #28AA47, 1193px 551px #28AA47, 638px 478px #28AA47, 456px 1854px #28AA47,
			424px 690px #28AA47, 13px 600px #28AA47, 306px 1867px #28AA47, 384px 1298px #28AA47,
			762px 342px #28AA47, 1780px 1196px #28AA47, 108px 1138px #28AA47, 1671px 866px #28AA47,
			831px 1515px #28AA47, 218px 1455px #28AA47, 1315px 1494px #28AA47, 1365px 1181px #28AA47,
			168px 986px #28AA47, 349px 506px #28AA47, 974px 1437px #28AA47, 1605px 908px #28AA47,
			1036px 1208px #28AA47, 1082px 1407px #28AA47, 916px 827px #28AA47, 1526px 566px #28AA47,
			1159px 1877px #28AA47, 210px 1180px #28AA47, 979px 1815px #28AA47, 130px 1358px #28AA47,
			1961px 1963px #28AA47, 771px 591px #28AA47, 1905px 487px #28AA47, 1816px 1565px #28AA47,
			333px 1600px #28AA47, 1842px 1774px #28AA47, 1573px 135px #28AA47, 1385px 1889px #28AA47,
			1611px 1033px #28AA47, 367px 1236px #28AA47, 779px 1022px #28AA47, 1851px 62px #28AA47,
			478px 257px #28AA47, 1907px 1960px #28AA47, 1435px 532px #28AA47, 662px 8px #28AA47,
			1027px 1924px #28AA47, 489px 101px #28AA47, 76px 1875px #28AA47, 657px 1682px #28AA47,
			1993px 1955px #28AA47, 1432px 1845px #28AA47, 1530px 1729px #28AA47, 1211px 896px #28AA47,
			1525px 133px #28AA47, 1445px 803px #28AA47, 530px 62px #28AA47, 242px 1513px #28AA47,
			256px 933px #28AA47, 1701px 936px #28AA47, 756px 1893px #28AA47, 1251px 1298px #28AA47,
			380px 1399px #28AA47, 1455px 302px #28AA47, 1729px 1171px #28AA47, 585px 49px #28AA47,
			1961px 1124px #28AA47, 1241px 552px #28AA47, 1205px 40px #28AA47, 1938px 1247px #28AA47,
			1469px 89px #28AA47, 239px 1939px #28AA47, 698px 448px #28AA47, 1795px 346px #28AA47,
			151px 487px #28AA47, 102px 126px #28AA47, 1184px 418px #28AA47, 1625px 1418px #28AA47,
			29px 554px #28AA47, 1288px 1274px #28AA47, 791px 1308px #28AA47, 151px 934px #28AA47,
			1574px 386px #28AA47, 1214px 1703px #28AA47, 1569px 1424px #28AA47, 951px 1830px #28AA47,
			1728px 805px #28AA47, 312px 1987px #28AA47, 1468px 529px #28AA47, 1153px 1146px #28AA47,
			1262px 1021px #28AA47, 1648px 1766px #28AA47, 306px 70px #28AA47, 754px 1165px #28AA47,
			1930px 482px #28AA47, 1814px 1593px #28AA47, 1066px 822px #28AA47, 1250px 877px #28AA47,
			465px 1885px #28AA47, 1649px 1281px #28AA47, 1682px 1601px #28AA47, 1367px 1233px #28AA47,
			91px 1327px #28AA47, 1485px 1355px #28AA47, 501px 1673px #28AA47, 1649px 1259px #28AA47,
			1986px 948px #28AA47, 1266px 1829px #28AA47, 135px 1503px #28AA47, 647px 296px #28AA47,
			155px 341px #28AA47, 649px 1896px #28AA47, 1617px 334px #28AA47, 223px 1507px #28AA47,
			584px 146px #28AA47, 200px 316px #28AA47, 575px 1831px #28AA47, 1374px 1809px #28AA47,
			1445px 386px #28AA47, 475px 1249px #28AA47, 1954px 89px #28AA47, 1756px 1192px #28AA47,
			8px 671px #28AA47, 1366px 1694px #28AA47, 1831px 306px #28AA47, 925px 113px #28AA47,
			160px 1174px #28AA47, 534px 1908px #28AA47, 553px 273px #28AA47, 423px 45px #28AA47,
			1305px 1098px #28AA47, 187px 90px #28AA47, 1993px 1396px #28AA47, 842px 1270px #28AA47,
			1137px 554px #28AA47, 351px 558px #28AA47, 1576px 1070px #28AA47, 437px 312px #28AA47,
			286px 1019px #28AA47, 257px 272px #28AA47, 1242px 1957px #28AA47, 1963px 1693px #28AA47,
			772px 447px #28AA47, 1641px 508px #28AA47, 712px 100px #28AA47, 1307px 1015px #28AA47,
			742px 327px #28AA47, 281px 1814px #28AA47, 1398px 1051px #28AA47, 167px 9px #28AA47,
			328px 1489px #28AA47, 1814px 1804px #28AA47, 946px 25px #28AA47, 549px 1705px #28AA47,
			217px 1477px #28AA47, 1937px 280px #28AA47, 182px 241px #28AA47, 711px 1365px #28AA47,
			1898px 1043px #28AA47, 1807px 346px #28AA47, 1787px 1253px #28AA47, 247px 66px #28AA47,
			1171px 1592px #28AA47, 846px 895px #28AA47, 1507px 720px #28AA47, 787px 574px #28AA47,
			1593px 1267px #28AA47, 843px 1902px #28AA47, 15px 1454px #28AA47, 539px 1420px #28AA47,
			1856px 974px #28AA47, 340px 663px #28AA47, 1579px 1091px #28AA47, 809px 111px #28AA47,
			32px 1128px #28AA47, 69px 1852px #28AA47, 878px 300px #28AA47, 730px 726px #28AA47,
			1137px 68px #28AA47;
	}
}

#stars2 {
	width: 2px;
	height: 2px;
	background: transparent;
	box-shadow: 592px 134px #ffff, 346px 741px #ffff, 1000px 1781px #ffff,
		996px 728px #ffff, 1085px 1462px #ffff, 526px 1128px #ffff, 1951px 557px #ffff,
		673px 92px #ffff, 415px 776px #ffff, 1570px 643px #ffff, 121px 697px #ffff,
		782px 1847px #ffff, 1853px 256px #ffff, 910px 195px #ffff, 362px 1201px #ffff,
		52px 1627px #ffff, 387px 899px #ffff, 547px 1995px #ffff, 1298px 440px #ffff,
		1474px 1713px #ffff, 1109px 1322px #ffff, 1720px 1237px #ffff, 473px 1196px #ffff,
		1682px 580px #ffff, 1476px 655px #ffff, 1254px 731px #ffff, 1069px 1840px #ffff,
		291px 1789px #ffff, 825px 1237px #ffff, 1067px 543px #ffff, 962px 990px #ffff,
		1606px 1387px #ffff, 884px 1555px #ffff, 1209px 1830px #ffff, 439px 535px #ffff,
		360px 1451px #ffff, 1018px 1837px #ffff, 1964px 677px #ffff, 1095px 159px #ffff,
		390px 245px #ffff, 1869px 597px #ffff, 1857px 544px #ffff, 745px 1186px #ffff,
		336px 1867px #ffff, 250px 1377px #ffff, 1872px 168px #ffff, 878px 1299px #ffff,
		1257px 177px #ffff, 984px 303px #ffff, 544px 303px #ffff, 1250px 1052px #ffff,
		152px 1322px #ffff, 1466px 289px #ffff, 1104px 1116px #ffff, 1796px 482px #ffff,
		1086px 525px #ffff, 1540px 1822px #ffff, 196px 1999px #ffff, 1893px 771px #ffff,
		1171px 1728px #ffff, 1996px 710px #ffff, 436px 370px #ffff, 1270px 1570px #ffff,
		55px 900px #ffff, 1875px 1291px #ffff, 337px 1251px #ffff, 25px 5px #ffff,
		1619px 835px #ffff, 410px 676px #ffff, 956px 531px #ffff, 90px 489px #ffff,
		561px 576px #ffff, 907px 45px #ffff, 1657px 810px #ffff, 1029px 1705px #ffff,
		1281px 828px #ffff, 466px 961px #ffff, 674px 1105px #ffff, 456px 918px #ffff,
		331px 148px #ffff, 1105px 1681px #ffff, 922px 319px #ffff, 1600px 1403px #ffff,
		420px 977px #ffff, 166px 1637px #ffff, 1033px 1668px #ffff, 1884px 208px #ffff,
		552px 720px #ffff, 1543px 119px #ffff, 587px 103px #ffff, 348px 1766px #ffff,
		664px 761px #ffff, 565px 1253px #ffff, 1472px 1332px #ffff, 471px 1569px #ffff,
		747px 76px #ffff, 1429px 308px #ffff, 1850px 597px #ffff, 1148px 1085px #ffff,
		307px 208px #ffff, 253px 736px #ffff, 148px 122px #ffff, 366px 1163px #ffff,
		1589px 1436px #ffff, 1359px 1027px #ffff, 1805px 95px #ffff, 910px 837px #ffff,
		1578px 976px #ffff, 954px 710px #ffff, 743px 1552px #ffff, 271px 686px #ffff,
		1960px 1336px #ffff, 740px 1431px #ffff, 972px 1184px #ffff, 1690px 1942px #ffff,
		1222px 839px #ffff, 1151px 164px #ffff, 1248px 871px #ffff, 893px 1975px #ffff,
		1979px 859px #ffff, 139px 642px #ffff, 856px 523px #ffff, 879px 1186px #ffff,
		1440px 1036px #ffff, 1624px 1411px #ffff, 1320px 1239px #ffff, 1747px 1662px #ffff,
		1155px 765px #ffff, 885px 43px #ffff, 552px 1690px #ffff, 731px 293px #ffff,
		1655px 1809px #ffff, 187px 1766px #ffff, 811px 1318px #ffff, 716px 241px #ffff,
		633px 668px #ffff, 916px 1359px #ffff, 1054px 620px #ffff, 1038px 1345px #ffff,
		1334px 1118px #ffff, 393px 52px #ffff, 1722px 590px #ffff, 1329px 244px #ffff,
		1388px 1983px #ffff, 66px 1845px #ffff, 172px 995px #ffff, 1258px 1766px #ffff,
		310px 110px #ffff, 1019px 1705px #ffff, 394px 1471px #ffff, 489px 1962px #ffff,
		183px 1155px #ffff, 90px 1153px #ffff, 845px 60px #ffff, 403px 1930px #ffff,
		820px 256px #ffff, 394px 1716px #ffff, 1744px 690px #ffff, 831px 1562px #ffff,
		110px 1000px #ffff, 1604px 585px #ffff, 1954px 1442px #ffff, 397px 1085px #ffff,
		242px 1785px #ffff, 1216px 1885px #ffff, 1873px 1700px #ffff, 1181px 8px #ffff,
		1978px 701px #ffff, 1968px 391px #ffff, 1621px 947px #ffff, 1142px 1244px #ffff,
		558px 584px #ffff, 881px 767px #ffff, 96px 960px #ffff, 1143px 262px #ffff,
		690px 1357px #ffff, 218px 1363px #ffff, 1507px 16px #ffff, 1947px 1785px #ffff,
		755px 1928px #ffff, 1620px 1126px #ffff, 1194px 1932px #ffff, 728px 1068px #ffff,
		542px 1765px #ffff, 1159px 1334px #ffff, 1284px 444px #ffff, 1623px 1161px #ffff,
		190px 1011px #ffff, 855px 1379px #ffff, 1244px 30px #ffff, 1144px 1873px #ffff,
		1276px 958px #ffff, 1675px 1097px #ffff, 354px 1735px #ffff, 1534px 235px #ffff,
		560px 1850px #ffff, 493px 1737px #ffff, 782px 598px #ffff, 1709px 1377px #ffff,
		717px 1040px #ffff;
	animation: animStar 100s linear infinite;
	&:after {
		content: " ";
		position: absolute;
		/* top: 2000px; */
		width: 2px;
		height: 2px;
		background: transparent;
		box-shadow: 592px 134px #ffff, 346px 741px #ffff, 1000px 1781px #ffff,
			996px 728px #ffff, 1085px 1462px #ffff, 526px 1128px #ffff, 1951px 557px #ffff,
			673px 92px #ffff, 415px 776px #ffff, 1570px 643px #ffff, 121px 697px #ffff,
			782px 1847px #ffff, 1853px 256px #ffff, 910px 195px #ffff, 362px 1201px #ffff,
			52px 1627px #ffff, 387px 899px #ffff, 547px 1995px #ffff, 1298px 440px #ffff,
			1474px 1713px #ffff, 1109px 1322px #ffff, 1720px 1237px #ffff, 473px 1196px #ffff,
			1682px 580px #ffff, 1476px 655px #ffff, 1254px 731px #ffff, 1069px 1840px #ffff,
			291px 1789px #ffff, 825px 1237px #ffff, 1067px 543px #ffff, 962px 990px #ffff,
			1606px 1387px #ffff, 884px 1555px #ffff, 1209px 1830px #ffff, 439px 535px #ffff,
			360px 1451px #ffff, 1018px 1837px #ffff, 1964px 677px #ffff, 1095px 159px #ffff,
			390px 245px #ffff, 1869px 597px #ffff, 1857px 544px #ffff, 745px 1186px #ffff,
			336px 1867px #ffff, 250px 1377px #ffff, 1872px 168px #ffff, 878px 1299px #ffff,
			1257px 177px #ffff, 984px 303px #ffff, 544px 303px #ffff, 1250px 1052px #ffff,
			152px 1322px #ffff, 1466px 289px #ffff, 1104px 1116px #ffff, 1796px 482px #ffff,
			1086px 525px #ffff, 1540px 1822px #ffff, 196px 1999px #ffff, 1893px 771px #ffff,
			1171px 1728px #ffff, 1996px 710px #ffff, 436px 370px #ffff, 1270px 1570px #ffff,
			55px 900px #ffff, 1875px 1291px #ffff, 337px 1251px #ffff, 25px 5px #ffff,
			1619px 835px #ffff, 410px 676px #ffff, 956px 531px #ffff, 90px 489px #ffff,
			561px 576px #ffff, 907px 45px #ffff, 1657px 810px #ffff, 1029px 1705px #ffff,
			1281px 828px #ffff, 466px 961px #ffff, 674px 1105px #ffff, 456px 918px #ffff,
			331px 148px #ffff, 1105px 1681px #ffff, 922px 319px #ffff, 1600px 1403px #ffff,
			420px 977px #ffff, 166px 1637px #ffff, 1033px 1668px #ffff, 1884px 208px #ffff,
			552px 720px #ffff, 1543px 119px #ffff, 587px 103px #ffff, 348px 1766px #ffff,
			664px 761px #ffff, 565px 1253px #ffff, 1472px 1332px #ffff, 471px 1569px #ffff,
			747px 76px #ffff, 1429px 308px #ffff, 1850px 597px #ffff, 1148px 1085px #ffff,
			307px 208px #ffff, 253px 736px #ffff, 148px 122px #ffff, 366px 1163px #ffff,
			1589px 1436px #ffff, 1359px 1027px #ffff, 1805px 95px #ffff, 910px 837px #ffff,
			1578px 976px #ffff, 954px 710px #ffff, 743px 1552px #ffff, 271px 686px #ffff,
			1960px 1336px #ffff, 740px 1431px #ffff, 972px 1184px #ffff, 1690px 1942px #ffff,
			1222px 839px #ffff, 1151px 164px #ffff, 1248px 871px #ffff, 893px 1975px #ffff,
			1979px 859px #ffff, 139px 642px #ffff, 856px 523px #ffff, 879px 1186px #ffff,
			1440px 1036px #ffff, 1624px 1411px #ffff, 1320px 1239px #ffff,
			1747px 1662px #ffff, 1155px 765px #ffff, 885px 43px #ffff, 552px 1690px #ffff,
			731px 293px #ffff, 1655px 1809px #ffff, 187px 1766px #ffff, 811px 1318px #ffff,
			716px 241px #ffff, 633px 668px #ffff, 916px 1359px #ffff, 1054px 620px #ffff,
			1038px 1345px #ffff, 1334px 1118px #ffff, 393px 52px #ffff, 1722px 590px #ffff,
			1329px 244px #ffff, 1388px 1983px #ffff, 66px 1845px #ffff, 172px 995px #ffff,
			1258px 1766px #ffff, 310px 110px #ffff, 1019px 1705px #ffff, 394px 1471px #ffff,
			489px 1962px #ffff, 183px 1155px #ffff, 90px 1153px #ffff, 845px 60px #ffff,
			403px 1930px #ffff, 820px 256px #ffff, 394px 1716px #ffff, 1744px 690px #ffff,
			831px 1562px #ffff, 110px 1000px #ffff, 1604px 585px #ffff, 1954px 1442px #ffff,
			397px 1085px #ffff, 242px 1785px #ffff, 1216px 1885px #ffff, 1873px 1700px #ffff,
			1181px 8px #ffff, 1978px 701px #ffff, 1968px 391px #ffff, 1621px 947px #ffff,
			1142px 1244px #ffff, 558px 584px #ffff, 881px 767px #ffff, 96px 960px #ffff,
			1143px 262px #ffff, 690px 1357px #ffff, 218px 1363px #ffff, 1507px 16px #ffff,
			1947px 1785px #ffff, 755px 1928px #ffff, 1620px 1126px #ffff, 1194px 1932px #ffff,
			728px 1068px #ffff, 542px 1765px #ffff, 1159px 1334px #ffff, 1284px 444px #ffff,
			1623px 1161px #ffff, 190px 1011px #ffff, 855px 1379px #ffff, 1244px 30px #ffff,
			1144px 1873px #ffff, 1276px 958px #ffff, 1675px 1097px #ffff, 354px 1735px #ffff,
			1534px 235px #ffff, 560px 1850px #ffff, 493px 1737px #ffff, 782px 598px #ffff,
			1709px 1377px #ffff, 717px 1040px #ffff;
	}
}

#stars3 {
	width: 3px;
	height: 3px;
	background: transparent;
	box-shadow: 222px 946px 	#ffff, 408px 926px 	#ffff, 1608px 1741px 	#ffff,
		1977px 1436px 	#ffff, 713px 1152px 	#ffff, 139px 39px 	#ffff, 497px 1590px 	#ffff,
		1808px 1652px 	#ffff, 598px 667px 	#ffff, 1962px 75px 	#ffff, 331px 1245px 	#ffff,
		1600px 1822px 	#ffff, 1463px 883px 	#ffff, 299px 335px 	#ffff, 1229px 909px 	#ffff,
		448px 581px 	#ffff, 1346px 571px 	#ffff, 1247px 458px 	#ffff, 799px 186px 	#ffff,
		643px 404px 	#ffff, 1330px 790px 	#ffff, 299px 699px 	#ffff, 1593px 1891px 	#ffff,
		934px 1230px 	#ffff, 1162px 1835px 	#ffff, 903px 1024px 	#ffff, 596px 900px 	#ffff,
		1223px 1078px 	#ffff, 682px 1024px 	#ffff, 151px 373px 	#ffff, 54px 1586px 	#ffff,
		657px 1902px 	#ffff, 812px 273px 	#ffff, 705px 1142px 	#ffff, 1902px 1353px 	#ffff,
		1222px 1980px 	#ffff, 767px 158px 	#ffff, 22px 663px 	#ffff, 1055px 727px 	#ffff,
		1728px 750px 	#ffff, 223px 287px 	#ffff, 438px 127px 	#ffff, 224px 1146px 	#ffff,
		1594px 1466px 	#ffff, 1505px 436px 	#ffff, 389px 1049px 	#ffff, 596px 435px 	#ffff,
		1997px 1798px 	#ffff, 29px 51px 	#ffff, 40px 514px 	#ffff, 1779px 769px 	#ffff,
		652px 1211px 	#ffff, 1599px 347px 	#ffff, 1854px 1941px 	#ffff, 485px 1633px 	#ffff,
		697px 1894px 	#ffff, 1772px 877px 	#ffff, 555px 1030px 	#ffff, 976px 1338px 	#ffff,
		541px 1112px 	#ffff, 817px 899px 	#ffff, 961px 923px 	#ffff, 115px 1321px 	#ffff,
		875px 434px 	#ffff, 1577px 1980px 	#ffff, 1160px 131px 	#ffff, 15px 160px 	#ffff,
		979px 56px 	#ffff, 959px 1756px 	#ffff, 1358px 435px 	#ffff, 563px 591px 	#ffff,
		1284px 475px 	#ffff, 341px 601px 	#ffff, 74px 471px 	#ffff, 416px 584px 	#ffff,
		692px 536px 	#ffff, 1041px 377px 	#ffff, 1601px 1923px 	#ffff, 1014px 241px 	#ffff,
		122px 1594px 	#ffff, 1510px 280px 	#ffff, 195px 1720px 	#ffff, 152px 104px 	#ffff,
		1686px 811px 	#ffff, 1329px 750px 	#ffff, 1655px 441px 	#ffff, 1288px 1040px 	#ffff,
		1802px 1368px 	#ffff, 767px 615px 	#ffff, 302px 195px 	#ffff, 1973px 1902px 	#ffff,
		1088px 1583px 	#ffff, 1840px 1126px 	#ffff, 500px 111px 	#ffff, 1263px 667px 	#ffff,
		1748px 121px 	#ffff, 1608px 364px 	#ffff, 1064px 1610px 	#ffff, 1682px 1826px 	#ffff,
		1747px 1800px 	#ffff;
	animation: animStar 150s linear infinite;
	&:after {
		content: "";
		position: absolute;
		/* top: 2000px; */
		width: 3px;
		height: 3px;
		background: transparent;
		box-shadow: 222px 946px 	#ffff, 408px 926px 	#ffff, 1608px 1741px 	#ffff,
			1977px 1436px 	#ffff, 713px 1152px 	#ffff, 139px 39px 	#ffff, 497px 1590px 	#ffff,
			1808px 1652px 	#ffff, 598px 667px 	#ffff, 1962px 75px 	#ffff, 331px 1245px 	#ffff,
			1600px 1822px 	#ffff, 1463px 883px 	#ffff, 299px 335px 	#ffff, 1229px 909px 	#ffff,
			448px 581px 	#ffff, 1346px 571px 	#ffff, 1247px 458px 	#ffff, 799px 186px 	#ffff,
			643px 404px 	#ffff, 1330px 790px 	#ffff, 299px 699px 	#ffff, 1593px 1891px 	#ffff,
			934px 1230px 	#ffff, 1162px 1835px 	#ffff, 903px 1024px 	#ffff, 596px 900px 	#ffff,
			1223px 1078px 	#ffff, 682px 1024px 	#ffff, 151px 373px 	#ffff, 54px 1586px 	#ffff,
			657px 1902px 	#ffff, 812px 273px 	#ffff, 705px 1142px 	#ffff, 1902px 1353px 	#ffff,
			1222px 1980px 	#ffff, 767px 158px 	#ffff, 22px 663px 	#ffff, 1055px 727px 	#ffff,
			1728px 750px 	#ffff, 223px 287px 	#ffff, 438px 127px 	#ffff, 224px 1146px 	#ffff,
			1594px 1466px 	#ffff, 1505px 436px 	#ffff, 389px 1049px 	#ffff, 596px 435px 	#ffff,
			1997px 1798px 	#ffff, 29px 51px 	#ffff, 40px 514px 	#ffff, 1779px 769px 	#ffff,
			652px 1211px 	#ffff, 1599px 347px 	#ffff, 1854px 1941px 	#ffff, 485px 1633px 	#ffff,
			697px 1894px 	#ffff, 1772px 877px 	#ffff, 555px 1030px 	#ffff, 976px 1338px 	#ffff,
			541px 1112px 	#ffff, 817px 899px 	#ffff, 961px 923px 	#ffff, 115px 1321px 	#ffff,
			875px 434px 	#ffff, 1577px 1980px 	#ffff, 1160px 131px 	#ffff, 15px 160px 	#ffff,
			979px 56px 	#ffff, 959px 1756px 	#ffff, 1358px 435px 	#ffff, 563px 591px 	#ffff,
			1284px 475px 	#ffff, 341px 601px 	#ffff, 74px 471px 	#ffff, 416px 584px 	#ffff,
			692px 536px 	#ffff, 1041px 377px 	#ffff, 1601px 1923px 	#ffff, 1014px 241px 	#ffff,
			122px 1594px 	#ffff, 1510px 280px 	#ffff, 195px 1720px 	#ffff, 152px 104px 	#ffff,
			1686px 811px 	#ffff, 1329px 750px 	#ffff, 1655px 441px 	#ffff, 1288px 1040px 	#ffff,
			1802px 1368px 	#ffff, 767px 615px 	#ffff, 302px 195px 	#ffff, 1973px 1902px 	#ffff,
			1088px 1583px 	#ffff, 1840px 1126px 	#ffff, 500px 111px 	#ffff, 1263px 667px 	#ffff,
			1748px 121px 	#ffff, 1608px 364px 	#ffff, 1064px 1610px 	#ffff, 1682px 1826px 	#ffff,
			1747px 1800px 	#ffff;
	}
}

@keyframes animStar {
	from {
		transform: translateY(0px);
	}

	to {
		transform: translateY(-2000px);
	}
}