<<<<<<< HEAD
.hero__main__contain {
=======
.hero__container {
  display: flex;
  width: 300%;
  max-width: 100%;
  flex-direction: column;
  padding: 5rem 0rem 4em 0rem;
}

.hero__content {
  display: flex;
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
}
.hero_gradient {
  height: 0.2vh;
  width: 100%;
  background-image: linear-gradient(120deg, rgb(37, 107, 37), #00ff00, #197719);
}
.hero_marquee {
  background-color: #0000;
  font-family: "Manrope";
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;

  line-height: normal;
  letter-spacing: 0.5rem;
}

.hero__hft_logo {
  display: flex;
  background-image: url("../../assets/svg/hero_bg.svg");
  background-repeat: no-repeat;
  justify-content: space-between;
  min-height: 100vh;
}

.location__info{
  color: #fff;
  font-size: 2rem;
  font-family: var(--primary-font);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
/*.hero_icons
{
  display: flex;
  flex-direction: column;
 position: relative;
 bottom: 45.625rem;
 
opacity: 0.9;

}*/
.hft_logo {
  display: flex;
  flex-direction: column;

  justify-content: center;
}
.hero__df {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.dte {
  color: #fff;
  display: flex;

  text-align: center;
  font-family: "Oxygen";
  font-size: 1.9375rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.hero_df_btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 26.688rem;
  height: 4rem;
  flex-shrink: 0;
  border-radius: 10px;
  border: 2px solid #008b4a;
  background-color: black;
}
.registeration {
  color: #2db34a;
  text-align: center;
  font-family: Oxygen;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  position: relative;
  right: -0.25rem;
  line-height: normal;
}
.hero_aihead {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 38rem;

  align-self: flex-end;
  opacity: 0.8;
}
@media only screen and (max-width: 1300px) {
  .hero_aihead img {
    width: 40rem;
    height: 47rem;
  }
  .dte {
    font-size: 1.5rem;
  }
  .dev {
    width: 2rem;
  }
  .hft_logo1 {
    width: 35rem;
  }
  .hero_df_btn {
    width: 17rem;
  }
}
@media (min-device-width: 20px) and (max-device-width: 500px) {
}
@media only screen and (max-width: 1200px) {
  .hero_aihead img {
    width: 37rem;
    height: 47rem;
  }
  .dte {
    font-size: 1.5rem;
  }
  .dev {
    width: 2rem;
  }
  .hft_logo1 {
    width: 30rem;
  }
  .hero_df_btn {
    width: 17rem;
  }
}
@media only screen and (max-width: 1100px) {
  .hero_aihead img {
    width: 36rem;
    height: 49rem;
  }
  .dev {
    width: 2rem;
  }
  .hft_logo1 {
    width: 35rem;
  }
  .hero_df_btn {
    width: 22rem;
  }
}

@media screen and (max-width: 990px) {
  .hero_aihead img {
    width: 36rem;
    height: 47rem;
  }
  .dte {
    font-size: 1.5rem;
  }
  .dev {
    width: 2rem;
  }
  .hft_logo1 {
    width: 28rem;
  }
  .hero_df_btn {
    width: 17rem;
  }
}

@media screen and (max-width: 800px) {
  .hero_aihead img {
    width: 32rem;
    height: 46.5rem;
  }
  .dev {
    width: 2rem;
  }
  .dte {
    font-size: 1.4rem;
  }
  .registeration {
    font-size: 1.2rem;
  }
  .hft_logo1 {
    width: 23rem;
  }
  .hero_df_btn {
    width: 12rem;
  }
}

@media screen and (max-width: 600px) {
  .hero_aihead img {
    width: 25rem;
    height: 47rem;
  }
  .dev {
    width: 2rem;
  }
  .dte {
    font-size: 1.2rem;
  }
  .registeration {
    font-size: 1.2rem;
  }
  .hft_logo1 {
    width: 17rem;
  }
  .hero_df_btn {
    width: 12rem;
  }
}

@media screen and (max-width: 450px) {
  .hero_aihead img {
    width: 15rem;
    height: 48rem;
  }
  .dev {
    width: rem;
  }
  .hft_logo1 {
    width: 12rem;
  }
  .hero_df_btn {
    width: 10rem;
    height: 3rem;
  }
  .dte {
    font-size: 0.9rem;
  }
  .registeration {
    font-size: 1rem;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3) {
}

@media only screen and (device-width: 768px) {
}
/*
.hero__txt {
  display: flex;
  flex-direction: column;
  height: 80%;
  align-items: center;
  width: 30%;
  gap: 3rem;
  justify-content: space-around;
  align-items: center;
}
.hero__hft_logo {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 28rem;
  height: 10rem;
}
.hero__hft_logo img {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  pointer-events: none;
}
.hero__df{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}



.hero__rem_time {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 1rem 2rem 1rem;
  background: rgba(154, 153, 153, 0.155);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  clip-path: polygon(0 0, 90% 0, 100% 30%, 100% 100%, 10% 100%, 0 70%);
}
.hero__time {
  width: 24rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-shrink: 1;
}
.time_item {
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
}
.time_item h3 {
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 2.75rem;
  text-align: center;
  color: #28aa47;
  margin: 0rem;
}
.time_item p {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 1.25rem;
  text-align: center;
  color: #ffffff;
  margin: 0rem;
}

.icon {
  position: absolute;
  bottom: 0;
  animation: moveUp 5s linear infinite;
}

@keyframes moveUp {
  0% {
    transform: translateY(1000px);
  }
  100% {
    transform: translateY(0px);
  }
}
.icon img {
  width: 50px;
  height: 50px;
}*/
.hero__contain_main {
  margin-top: 10rem;
>>>>>>> master
  width: 100%;
  background-image: url('../../assets/png/landingMainBg.png');
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  padding-top: 6rem;
  justify-content: center;
  align-items: center;
}
.hero__hft{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  justify-content: center;
}
<<<<<<< HEAD
.hero__hft>p{
  font-family: var(--primary-font);
  font-size: 2rem;
  color: #ffff;
}
.hero__hft>img{
  width: 35rem;
}
.hero__main__contain >img{
  width: 50%
}


@media screen and (max-width: 900px){
  .hero__main__contain>img{
    display:none;
  }
  .hero__main__contain{
    display: unset;
  }
}


@media only screen and (max-width: 1300px) {

}
@media (min-device-width: 20px) and (max-device-width: 500px){
   
}
@media only screen and (max-width: 1200px) {

}

@media only screen and (max-width: 1100px) {

}

@media screen and (max-width: 992px) {

}

@media screen and (max-width: 800px) {

}

@media screen and (max-width: 600px) {

}

@media screen and (max-width: 400px) {

}
  
@media only screen and (min-device-width: 320px) and (max-device-width: 
  480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3) {

}


@media only screen and (device-width: 768px) {

}
=======
>>>>>>> master
