.hero__container{
  display: flex;
  padding-top: 25rem;
  flex-direction: row;
  /* justify-content: center; */
  /* align-items: center; */
  width: 100vw;
  height: 100vh;
  background-image: url('../../assets/png/landingMainBg.png');
  background-position: center;
  object-fit: contain;
}
.hero__content_part{
 display: flex;
 flex-direction: column;
 width: fit-content;
 height:50%;
 justify-content: center;
 align-items: flex-start;

}
.hero__content_part>p{
  color: #ffff;
  font-family: var(--primary-font);
  font-size: 1.2rem;
  font-weight: 600;
}
.hero__content_part>img{
  width: 30rem;
}
.hero__container>img{
  width: 35rem;
}