.hero__container {
  display: flex;
  /* padding-top: 8rem; */
  padding-bottom: 5rem;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100vw;
  gap: 2rem;
  background-image: url("../../assets/png/landingMainBg.png");
  background-position: center;
  object-fit: contain;
}

.hero_marquee{
  margin-top: 5rem;
  background-color: black;
  font-family:  'Manrope';
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 100vw;
  color: #ffff;
  letter-spacing: 0.5rem;
}
.hero__location__info{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.hero__date_info{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  /* justify-content: center;
  align-items: center; */
}
.hero__content_part {
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: 50%;
  justify-content: center;
  align-items: flex-start;
  padding-top: 2rem;
}
.hero__content_part > p {
  color: #ffff;
  font-family: var(--primary-font);
  font-size: 1.2rem;
  font-weight: 600;
  text-align: left;
  width: 80%;
}
.hero__content_part > img {
  width: 35rem;
}
.hero__container > img {
  width: 35rem;
  /* margin-top: -25%; */
}
.timer_main_contain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:80%;
}
.timeer__time_contain {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
  font-family: var(--primary-font);
}
.timer__unit_container {
  display: flex;
  font-size: 1rem;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  border: 2px solid #00ff00;
  border-radius: 20px;
  /* box-shadow: 7px 7px 24px #498108, -7px -7px 24px #518f08; */
  box-shadow:  5px 5px 10px #518f08,
             -5px -5px 10px #518f08;
  color: #ffff;
  font-family: var(--primary-font);
}

@media only screen and (max-width: 1300px) {

}
@media (min-device-width: 20px) and (max-device-width: 500px){
   
}
@media only screen and (max-width: 1200px) {

}

@media only screen and (max-width: 1100px) {
  .hero__container>img{
    width: 30rem;
  }
}


@media screen and (max-width: 500px) {
  .hero__content_part>img{
    width: 27rem;
  }
}
@media screen and (max-width: 992px) {

}

@media screen and (max-width: 800px) {

}

@media screen and (max-width: 1000px) {
  
  .hero__container>img{
    display: none;
  }
  .hero__content_part{
    align-items: center;
  }
  .hero__container{
    /* display: unset; */
    /* align-items: center; */
    justify-content: center;
  }
}
@media screen and (max-width: 600px) {
  .hero__content_part>img{
    width: 26rem;
  }
}

@media screen and (max-width: 450px){
.timer__unit_container{
  width: 90%;
}
}
@media screen and (max-width: 430px) {
  .hero__content_part>img{
    width: 24rem;
  }
}
@media screen and (max-width: 400px) {
  .hero__content_part>img{
    width: 19rem;
  }
  .hero__content_part>p{
    font-size: 1rem;
    font-weight: 500;
  }
}
  
@media only screen and (max-width: 380px) {
.timer__unit_container{
  width: 100%;
}
}
@media only screen and (min-device-width: 320px) and (max-device-width: 
  480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3) {

}


@media only screen and (device-width: 768px) {

}