.about__container {
  width: 100%;
  padding-top: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 5rem;
}
.abt__content {
  padding: 2rem 4rem 2rem 4rem;
  width: 70%;
  /* background: rgba(255, 255, 255, 0); */
  background: #0000;
  box-shadow: 0 8px 32px 0 rgba(2, 107, 18, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.invisible__txt{
  /* visibility: hidden; */
  color: #0000;
  font-family: var(--primary-font);
  font-size: 1.2rem;
  visibility: visible;
}
.invisible__txt:hover{
  color: #ffff;
}
.abt__txt {
  display: flex;
  height: 100%;
  align-items: flex-start;
  width: 70%;
  flex-direction: column;
  color: #ffff;
  font-family: var(--primary-font);
}

.abt__txt_p > p {
  font-size: 1rem;
}
.pc_img_abt {
  width: 26rem;
  pointer-events: none;
}
.abt__image_container {
  flex-basis: 40%;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../assets/svg/grid_line_abt.svg");
  flex-shrink: 1;
}

@media only screen and (max-width: 1200px) {
  .abt__content {
    flex-direction: column;
    padding: 0.5rem 1rem 0.5rem 1rem;
  }
  .abt__image_container img {
    width: 100%;
  }
}

@media only screen and (max-width: 1100px) {
}

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 800px) {
}

@media screen and (max-width: 600px) {
  .abt__content {
    padding: 0.2rem 0.4rem 0.2rem 0.4rem;
  }
}
@media screen and (max-width: 500px) {
  .abt__content {
    width: 88%;
    padding: 0.1rem 0.2rem 0.1rem 0.2rem;
  }
}

@media screen and (max-width: 400px) {
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3) {
}

@media only screen and (device-width: 768px) {
}
