* {
    color: white;
}

.gallery {
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.title {
    font-size: 2rem;
    font-weight: bold;
    color: white;
}

.gallery .img-container {
    width: 800px;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    box-sizing: border-box;
    gap: 15px;
    padding: 10px;
}

.gallery .img-container .box {
    cursor: pointer;
    overflow: hidden;
    transition: transform 0.5s;
}

.gallery .img-container .box:hover {
    transform: scale(1.03);
}

.gallery .img-container .box-lh {
    grid-row: span 2;
}

.gallery .img-container .box-lw {
    grid-column: span 2;
}

.gallery .img-container .box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

@media (max-width: 800px) {
    .gallery .img-container {
        width: 600px;
        height: 800px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 10px;
    }
    .gallery .img-container .box-lh {
        grid-row: span 1;
    }
    .gallery .img-container .box-lw {
        grid-column: span 1;
    }
    .gallery .img-container .box-lwm {
        grid-column: span 2;
    }
}

@media (max-width: 600px) {
    .gallery {
        gap: 30px;
    }
    .gallery .img-container {
        width: 300px;
        height: 600px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 10px;
    }
}