.partners__main__contain{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.partners__contain{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2rem;
    gap: 2rem;
    flex-wrap: wrap;
}
.partners__contain>a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--primary-font);
    font-size: 1rem;
    color: #ffff;
}
.partners__contain>a>img{
    width: 15rem;
}