.partners__main__contain{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.partners__contain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.partners__titlep{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2rem;
    gap: 2rem;
    flex-wrap: wrap;
}
.partners__titlep>a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--primary-font);
    font-size: 1rem;
    color: #ffff;
    font-weight: 600;
}
.partners__titlep>a>img{
    width: 20rem;
    height: 9rem;
    border-radius: 15px;
}
.partners__gold{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2rem;
    gap: 2rem;
    flex-wrap: wrap;
}
.partners__gold>a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--primary-font);
    font-size: 1rem;
    color: #ffff;
}
.partners__gold>a>img{
    width: 15rem;
}

.wolfram img{
    width: 15rem;
    height: 5rem;
    border-radius: 7px;
}

@media only screen and(max-width:450px) {
    .partners__titlep>a>img{
        width: 10rem;
        height: 6rem;
    }
}


@media only screen and(max-width:400px) {
    .partners__titlep>a>img{
        width: 5rem;
    }
}