.y_partcipate__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.y_ppt_card {
  width: 330px;
  height: 230px;
  display: flex;
  z-index: 9;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  -webkit-clip-path: polygon(
    25% 0%,
    75% 0%,
    100% 50%,
    75% 100%,
    25% 100%,
    0% 50%
  );
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(11px);
  border-style: solid;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

.yppt_card_and_image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}
.y_ppt_content {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  gap: 2.4rem;

  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.yppt__icon_container {
  width: 6rem;
  z-index: 10;
  color: var(--primary-color);
  height: 6rem;
  transform: translateY(50%);
  pointer-events: none;
}

.y_ppt_card > p {
  color: #ffffff;
  font-family: var(--primary-font);
  width: 50%;
  text-align: center;
}
